#content{
    background-color: rgba(54, 160, 54, 0.5);
    padding: 20px;
}

#post{
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}
#head{
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#head h1{
    font-size: 25px;
}
#head p{
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
#head p:hover{
    opacity: 0.7;
}
p{
    margin-top: 10px;
}