#content{
    margin-top: 30px;
    padding: 5px;
    width: 90%;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
}

#outp{
    flex-grow: 4;
    margin-right: 30px;
}
#side{
    flex-grow: 1;
}
